@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: #000066;
                border: 20px ridge;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome To Tony's Portfolio</h1>
        </div>
    </body>
</html>


